# =========================
# Client variables (exposed to the browser, must be prefixed with NEXT_PUBLIC_)
# =========================
NEXT_PUBLIC_NODE_ENV=development   # one of: development | production | test
